flow.json
[
    {
        "id": "14f3f7b.047a008",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7651c676.a76c78",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "2c5eea91.416b16"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 480,
                "y": 40,
                "wires": [
                    {
                        "id": "2c5eea91.416b16",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "ceba3d33.60fa7",
        "type": "subflow",
        "name": "Subflow 1 (2)",
        "info": "",
        "in": [
            {
                "x": 141,
                "y": 56,
                "wires": [
                    {
                        "id": "f9f75f34.74fb"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "bd5deef7.9ece3",
        "type": "inject",
        "z": "14f3f7b.047a008",
        "name": "my-name",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 60,
        "wires": [
            [
                "575a7de4.03e244"
            ]
        ]
    },
    {
        "id": "575a7de4.03e244",
        "type": "debug",
        "z": "14f3f7b.047a008",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "a8e6c204.0df3d",
        "type": "inject",
        "z": "14f3f7b.047a008",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 320,
        "y": 400,
        "wires": [
            [
                "579d3adf.d784b4"
            ]
        ]
    },
    {
        "id": "579d3adf.d784b4",
        "type": "debug",
        "z": "14f3f7b.047a008",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 602,
        "y": 376,
        "wires": []
    },
    {
        "id": "358b858e.f884ca",
        "type": "http request",
        "z": "14f3f7b.047a008",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 481,
        "y": 234,
        "wires": [
            []
        ]
    },
    {
        "id": "2c5eea91.416b16",
        "type": "function",
        "z": "7651c676.a76c78",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "bfcfacf5.c8c4a",
        "type": "subflow:7651c676.a76c78",
        "z": "14f3f7b.047a008",
        "name": "",
        "x": 450,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e43907cc.072278",
        "type": "trigger",
        "z": "14f3f7b.047a008",
        "op1": "5",
        "op2": "",
        "op1type": "num",
        "op2type": "nul",
        "duration": "1",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "5",
        "x": 790,
        "y": 260,
        "wires": [
            [
                "df22b562.8b5758"
            ]
        ]
    },
    {
        "id": "d1b09760.ac5538",
        "type": "inject",
        "z": "14f3f7b.047a008",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 650,
        "y": 260,
        "wires": [
            [
                "e43907cc.072278"
            ]
        ]
    },
    {
        "id": "df22b562.8b5758",
        "type": "debug",
        "z": "14f3f7b.047a008",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 930,
        "y": 260,
        "wires": []
    },
    {
        "id": "f9f75f34.74fb",
        "type": "debug",
        "z": "ceba3d33.60fa7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 310,
        "y": 57,
        "wires": []
    },
    {
        "id": "2ad5feae.fa86a2",
        "type": "inject",
        "z": "14f3f7b.047a008",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 560,
        "wires": [
            [
                "954fdcc1.50462",
                "1f7c6754.d96709"
            ]
        ]
    },
    {
        "id": "954fdcc1.50462",
        "type": "debug",
        "z": "14f3f7b.047a008",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 531,
        "y": 528,
        "wires": []
    },
    {
        "id": "1f7c6754.d96709",
        "type": "subflow:ceba3d33.60fa7",
        "z": "14f3f7b.047a008",
        "x": 522,
        "y": 592,
        "wires": []
    }
]